@import "../../importableStyles/mixins";

.counterSet {
  @include frame;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 25px;
}

.setSettingsWrapper {
  @include display;

  padding: 20px;

  font-size: 1.4rem;

  .inputRow:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.inputRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  padding: .3em;
  border: 2px solid $medium-grey-color;
  border-radius: $border-radius;
  font-size: 1.2rem;
  width: 60%;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.error {
  @include errorStyle
}