@import "../../importableStyles/variables";
@import "../../importableStyles/mixins";

.counterDisplay {
    @include display;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 300;

    font-size: 3rem;

    background-color: #ffffff;

    text-align: center;
}

.maxCount {
    color: $alert-color;
}

.error {
    @include errorStyle;
    font-size: 2rem;
}