.button {
    border: none;
    padding: 7px 12px;
    border-radius: var(--border-radius);

    filter: var(--shadow);

    cursor: pointer;
}

.disabled {
    color: var(--light-grey-color);
    cursor: unset;
}