@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// Colors
$main-color: #e58f0d;
$secondary-color: #13c4a1;

$grey-color: #646464;
$medium-grey-color: #cbcbcb;
$light-grey-color: #eeeeee;
$white-color: #ffffff;

$alert-color: #e50d0d;

// Fonts
$font-main: 'Montserrat', serif;
$font-basic: 'Inter', sans-serif;

// Decorations
$border-radius: 5px;
$shadow: drop-shadow(3px 3px 5px $medium-grey-color);